
{% extends 'base.html' %}

{%block content %}

<h3 style="text-align:center"> Welcome back </h3>


<div>
<p> Thank you for your patience.
	The server update is complete and this version should be even more secure than the previous.</p>
	
<p>We regret to inform you that, due to recent system issues, we have been forced to rollback the key database to a backup from several months ago.  We apologize for the inconvenience.</p>

<p>Additionally, the site forums are currently unavailable for maintainence.</p>
<p>However, we are dediated to providing the best service for your ransomware needs.  Please continue checking back soon as we bring the site back online.</p>
</div>

{% endblock %}
