<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="/static/logo.png" alt="Ransom Me This">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="lock">Generate Key</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="unlock">Unlock Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adminlist">Admin List</a>
        </li>
	<li class="nav-item">
	  <a class="nav-link" href="userinfo"> User Info </a>
	</li>
        <li class="nav-item">
	  <a class="nav-link" href="forum"> Forum </a>
	</li>
	 <li class="nav-item">
	   <a class="nav-link" href="admin"> Admin </a>
 	 </li>
      </ul>
    </div>
  </div>
</nav>
